@CHARSET "UTF-8";

.ups {
	padding: 10% 0;
}

body {
	background-color: #337ab7;
}

.content {
	box-shadow: 0 0 20px 10px #424242;
	background-color: #FFF;
}

.load {
	text-align: center;
	padding: 24% 0;
}

.addChat {
	margin: 15px 0;
}

.addMap {
	margin: 25px 0;
}

.chat-btns {
	align: right;
	margin-bottom: 15px;
}

.linki {
	margin-top: 30px;
}

.footer {
	text-align: center;
}

.mapsTitle {
	margin-bottom: 15px;
}

.myBar {
	margin: 0 0;
}

.right {
	float: right !important;
	margin-right: 15px;
}


.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.tabs{
	margin-top: 20px !important;
}

a.topic-animate.ng-enter{
	transition: all 0.4s ;
	opacity:0;
	transform: translateX(-100%);
}

a.topic-animate.ng-enter-stagger{
	transition-delay:0.05s;
}

a.topic-animate.ng-enter-active{
	opacity:1;
	transform: translateX(0);
}

.message-animate.ng-enter{
	transition: all 0.5s;
	opacity:0;
	transform: rotate(25deg);
}

.message-animate.ng-enter-stagger{
	transition-delay:0.07s;
}

.message-animate.ng-enter-active{
	opacity:1;
	transform: translateY(0);
	transform: rotate(0deg);
}

.mapsList-animate.ng-enter{
	transition: all .5s linear;
	transform: scaleY(0);
}

.mapsList-animate.ng-enter-active{
	transform: scaleY(1);
}

polyline{
	stroke:#31708f;
	fill:#d9edf7;
	stroke-width:0.002;
}

circle{
	stroke:#455a64;
	fill:#d9edf7;
	stroke-width:0.002;
	
}

circle:hover{
	fill-opacity:0.7;
}

circle.ng-enter{
	transition: all .3s linear;
	transform: scale(0,0);
}

circle.ng-enter-stagger{
	transition-delay:0.01s;
}

circle.ng-enter-active{
	transform: scale(1,1);
}

text.ng-enter{
	animation: txt 0.25s;	
}

text.ng-leave{
	animation: txt 0.25s reverse;	
}

@keyframes txt{
	from{
	opacity:0;
	}
	to{
	opacity:1;
	}
}

line{
	stroke:#455a64;
	stroke-width:5;
	stroke-opacity:1;
}