@CHARSET "UTF-8";

.ups {
	padding: 10% 0;
}

body {
	background-color: #337ab7;
}

.content {
	box-shadow: 0 0 20px 10px #424242;
	background-color: #FFF;
}

.addChat {
	margin: 15px 0;
}

.addMap {
	margin: 25px 0;
}

.chat-btns {
	align: right;
	margin-bottom: 15px;
}

.linki {
	margin-top: 30px;
}

.footer {
	text-align: center;
}

.mapsTitle {
	margin-bottom: 15px;
}

.myBar {
	margin: 0 0;
}

.right {
	float: right !important;
	margin-right: 15px;
}

.svg-container-watch { 
	display: inline-block;
	position: relative;
	width: 30%;
	left:35%;
	padding-bottom: 30%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-container-mapList { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 54%; 
	vertical-align: middle; 
	overflow: hidden; 
}



.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.tabs{
	margin-top: 20px !important;
}

path.map{
	stroke:#31708f;
	fill:#e3f2fd;
	stroke-width:0.002;
}

path.fitting{
	fill-opacity:.8;
	stroke-width:1.5;
}

text{
	font-family: Verdana;
}


line.map{
	stroke:#455a64;
	stroke-width:.4;
	stroke-opacity:1;
}

text.helper{
	fill:#f50057;
}

line.helper{
	stroke:#f50057;
}

/* animations */
/* Zegarek */
#sekundy,#minuty,#godziny{
	transform-origin: 50% 50%;
	animation-name: wskazowkaAnimacja;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#sekundy {
	animation-duration: 1s;
}	

#minuty{
	animation-duration: 2s;
}

#godziny{
	animation-duration: 3s;

}

@keyframes wskazowkaAnimacja{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

/* Angular */

a.topic-animate.ng-enter{
transition: all 0.4s ;
opacity:0;
transform: translateX(-100%);
}

a.topic-animate.ng-enter-stagger{
	transition-delay:0.05s;
}

a.topic-animate.ng-enter-active{
	opacity:1;
	transform: translateX(0);
}

.message-animate.ng-enter{
	transition: all 0.5s;
	opacity:0;
	transform: rotate(25deg);
}

.message-animate.ng-enter-stagger{
	transition-delay:0.1s;
}

.message-animate.ng-enter-active{
	opacity:1;
	transform: translateY(0);
	transform: rotate(0deg);
}
circle.map{
	stroke:#455a64;
	fill:#d9edf7;
	stroke-width:0.002;
	transition: fill-opacity .2s linear;
}


circle.animated-circle{
	transition: transform .6s, fill-opacity .5s linear;
}

circle#map:hover{
	fill-opacity:.6;
}

circle.animated-circle.ng-enter, circle.animated-circle.ng-leave-active{
	fill-opacity:0;
	transform: scale(0,0);
}

circle.animated-circle.ng-enter-active, circle.animated-circle.ng-leave{
	transform: scale(1,1);
}

@keyframes txt{
	from{
	opacity:0;
	}
	to{
	opacity:1;
	}
}

text.ng-enter{
	animation: txt 0.25s linear;	
}

text.ng-leave{
	animation: txt 0.25s linear reverse;	
}
/*Ikona w podgladzie mapy*/
#refreshIcon{
	animation-name: rotate;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}

@keyframes rotate{
		0%{
			transform: rotate(0);
		}
		100%{
			transform: rotate(360deg);
		}
}

/* Astronauta */
.astronaut{
	transform-origin: 30% 30%;
	animation-name: rotateAstronaut;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	}
	
.ziemia{
	transform-origin: 20% 20%;
	animation-name: fadeout;
	animation-duration: 30s;
	animation-timing-function: cubic-bezier(.14,.73,.21,1);
	transform: scale(0,0);
}

@keyframes rotateAstronaut{
		0%{
			transform: translateX(-120px) rotate(0);
		}
		100%{
			transform: translateX(-120px) rotate(360deg);
		}
}

@keyframes fadeout{

	0%{
	transform: scale(35);
	}
	
	100%{
	transform: scale(0,0);
	}
}
	